<h1>My Todo's</h1>

<div class="alert alert-success" *ngIf="message">{{ message }}</div>

<div class="container">
    <table class="todos">
        <thead>
            <tr>
                <th>Description</th>
                <th>Target Date</th>
                <th>is Completed?</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let todo of todos">
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate | date}}</td>
                <td>{{todo.done}}</td>
                <td><button (click)="updateTodo(todo.id)" class ="btn btn-success">Update Todo</button></td>
                <td><button (click)="deleteTodo(todo.id)" class ="btn btn-warning">Delete Todo</button></td>
            </tr>
        </tbody>

    </table>
</div>